<ol class="breadcrumb">
  <li> <%= link_to 'Kurse', 'javascript:void(0);', remote: true, id: 'course_breadcrumb_link' %></li>
  <li class="active">Studenten</li>
</ol>
<div class="row">
  <div class="col-sm-12">
    <% if user_signed_in? %>

        <div class="btn-group">
          <button type="button" id="students_run_tests_btn" class="btn btn-primary btn-lg btn-bnlock dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Tests ausführen für <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @course.assignments.each do |assignment| %>
                <li>
                  <a href="#" id="students_run_tests_<%= assignment.id %>_btn">
                    <%= assignment.name %>
                  </a>
                  <script>
                      $('#students_run_tests_<%= assignment.id %>_btn').on('click', function () {
                          $('#students_run_tests_btn').html('<i class="fa fa-spinner fa-spin"></i> Alle Tests ausführen').addClass('disabled');
                          $.ajax({
                              url: '<%= course_assignment_tests_url(@course, assignment) %>',
                              type: 'GET'
                          })
                      })
                  </script>
                </li>
            <% end %>
          </ul>
        </div>
        <br/>
        <br/>
        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>E-Mail</th>
            <th>Punkte</th>
            <th>Bewertungen</th>
            <th>Fortschritt bis zur Zulassung</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @students.each_with_index do |student, index| %>
              <tr>
                <td># <%= index + 1 %></td>
                <td><%= student.username %></td>
                <td><%= student.email %></td>
                <td><%= student_points(student) %> / <%= @course.max_points %></td>
                <td><%= student_comments_given(student) %> / <%= @course.assignments.count %> </td>
                <td>
                  Hausaufgabe (<%= homework_points(student) %>/20):
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= homework_progress(student, student.courses.first) %>%;">
                    </div>
                  </div>
                  Programmieraufgabe (<%= programming_points(student) %>/30):
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= programming_progress(student, student.courses.first) %>%;">
                    </div>
                  </div>
                </td>
                <td>
                  <div class="btn-group">
                    <%= link_to 'javascript:void(0);', remote: true, class: 'btn btn-primary btn-sm' do %>
                        <i class="fa fa-info"></i>
                    <% end %>
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <% student.assignments.order(:order).each do |assignment| %>
                          <li>
                            <%= link_to 'javascript:void(0)', id: "assignment_#{assignment.id}_student_#{student.id}" do %>
                                <%= "Assignment #{assignment.order}" %>
                            <% end %>
                            <script>
                                $('#assignment_<%= assignment.id %>_student_<%= student.id %>').on('click', function () {
                                    var $panelContent = $('#dashboards_panel');
                                    loadSpinner($panelContent, {type: 'panel'});
                                    ajaxTab($panelContent, '<%= edit_course_student_assignment_url(@course, student, assignment) %>', 'Error');
                                })
                            </script>
                          </li>
                      <% end %>

                    </ul>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <div class="panel panel-info">
          Bitte einloggen
        </div>
    <% end %>
  </div>
</div>
<script>
    $(function () {
        $('#dashboard_title').html('Meine Studenten (<%= current_user.email %>)');
        $('#course_breadcrumb_link').on('click', function () {
            var $panelContent = $('#dashboards_panel');
            loadSpinner($panelContent, {type: 'panel'});
            ajaxTab($panelContent, '<%= courses_url %>', 'Fehler');
        })
    })
</script>