<script>
    $('#dashboard_title').html('<%= @assignment.name %> für den Studenten <%= @student.username %> bewerten');
    $('#courses_index_link').on('click', function () {
        var $targetPanel = $('#dashboards_panel');
        loadSpinner($targetPanel, {type: 'panel'});
        ajaxTab($targetPanel, '<%= courses_url %>', 'Fehler');
    });
</script>
<ol class="breadcrumb">
  <li>
    <%= link_to 'javascript:void(0);', remote: true, id: 'courses_index_link' do %>
        Kurse
    <% end %>
  </li>
  <li class="active">Aufgabe bewerten</li>
</ol>
<%= render partial: 'courses/students/assignments/partials/form', locals: {course: @course, assignment: @assignment, student: @student, achieved_points: @achieved_points,achieved_points_programming: @achieved_points_programming, extra_test: @extra_test, public_test: @public_test} %>