<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Statistiken</h4>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-sm-3">
      PublicTests durchgelaufen: <%= tests_success(current_user.students, @assignment) %> <br/>
      PublicTests failed: <%= tests_failed(current_user.students, @assignment) %> <br/>
      ExtraTests durchgelaufen: <%= tests_success(current_user.students, @assignment, false) %> <br/>
      ExtraTests fehlgeschlagen: <%= tests_failed(current_user.students, @assignment, false) %>
    </div>
    <div class="col-sm-9">
      <div id="chart_assignment_<%= @assignment.id %>" style="height: 300px"></div>
    </div>
  </div>

  <hr/>

  <h1>Fast Corrector</h1>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Public</th>
          <th>Extra</th>
          <th>Encoding</th>
          <th>Bewertung</th>
        </tr>
        </thead>
        <tbody>
        <% current_user.students.each do |student| %>
            <tr>
              <td>
                <%= link_to "#{@course.svn_url}/#{student.username}/solutions/#{@assignment.order}", target: '_blank' do %>
                    <%= student.username %>
                    <%= committed_homework(student, @assignment) ? '' : '(Keine PDF)' %>
                <% end %>
              </td>
              <td>
                <% if test_status_public_test(student, @assignment) %>
                    <span class="label label-success">Erfolgreich</span>
                <% else %>
                    <span class="label label-danger"
                          data-toggle="popover"
                          data-trigger="hover"
                          data-html="true"
                          title="Stacktrace"
                          data-content="<%= simple_format student_assignment(student, @assignment).public_test_exception.gsub(/(org.junit.*|sun.*|at|\r|\n|java.lang.*)/, '') %>"
                          data-placement="bottom">Fehlgeschlagen</span>
                <% end %>
              </td>
              <td>
                <% if test_status_extra_test(student, @assignment) %>
                    <span class="label label-success">Erfolgreich</span>
                <% else %>
                    <span class="label label-danger"
                          data-toggle="popover"
                          data-trigger="hover"
                          data-html="true"
                          title="Stacktrace"
                          data-content="<%= simple_format student_assignment(student, @assignment).extra_test_exception.gsub(/(org.junit.*|sun.*|at|\r|\n|java.lang.*)/, '') %>"
                          data-placement="bottom">Fehlgeschlagen</span>
                <% end %>
              </td>
              <td>
                <% if test_status_encoding(student, @assignment) %>
                    <span class="label label-success">Erfolgreich</span>
                <% else %>
                    <span class="label label-danger">Fehlgeschlagen</span>
                <% end %>
              </td>
              <td id="result_student_<%= student.id %>_assignment_<%= @assignment.id %>">
                <%= render 'courses/assignments/tests/partials/comment_column', student: student %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>