<%= form_for([course, assignment], remote: true, html: {class: 'form-horizontal', id: 'assignment_form'}) do |f| %>
    <%= f.hidden_field :course_id, value: course.id %>
    <div class="form-group">
      <%= f.label :name, 'Aufgabenname', class: 'col-sm-2 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Bitte geben Sie einen Aufgabennamen ein...' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :deadline, 'Abgabe am', class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_field :deadline, class: 'form-control datepicker', placeholder: 'Bitte wählen Sie ein Datum aus...' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :order, 'Laufende Nummer', class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.number_field :order, class: 'form-control', min: 0%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :points, 'Zu erreichende Punkte', class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.number_field :points, class: 'form-control', min: 0%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <%= f.submit 'Speichern', class: 'btn btn-primary pull-right', data: {disable_with: 'Speichert...'} %>
      </div>
    </div>
<% end %>


<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            language: 'de-DE'
        });
    })
</script>