<div class="well">
  <%= link_to 'SVN Link zum Assignment', "#{course.svn_url}/#{student.username}/solutions/#{assignment.order}", target: '_blank' %>
</div>
<%= form_tag course_student_assignment_url(course, student, assignment), method: :patch, remote: true, class: 'form-horizontal' do %>
    <div class="form-group">
      <%= label_tag :encoding, 'Encoding', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <span class="label label-<%= encoding ? 'success' : 'danger' %>">
          <%= encoding ? 'Erfolgreich' : 'Nicht Erfolgreich' %>
        </span>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :public_tests, 'PublicTests', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <span class="label label-<%= public_test ? 'success' : 'danger' %>">
          <%= public_test ? 'Erfolgreich' : 'Nicht Erfolgreich' %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  PublicTests Console Output
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <%= simple_format student_assignment(student, assignment).public_test_exception %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :extra_test, 'ExtraTests', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <span class="label label-<%= extra_test ? 'success' : 'danger' %>">
            <%= extra_test ? 'Erfolgreich' : 'Nicht Erfolgreich' %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  ExtraTests Console Output
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <%= simple_format student_assignment(student, assignment).extra_test_exception %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :achieved_points, 'Bewertung Hausaufgabe', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= number_field_tag :achieved_points, achieved_points, class: 'form-control', min: 0 %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :achieved_points_programming, 'Bewertung Programmieraufgabe', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= number_field_tag :achieved_points_programming, achieved_points_programming, class: 'form-control', min: 0 %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :comment, 'Kommentar', class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= text_area_tag :comment, comment_content(student, assignment), class: 'form-control', rows: 5 %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <%= submit_tag 'Speichern', class: 'btn btn-primary pull-right', data: {disable_with: 'Speichert...'} %>
        <button class="btn btn-warning pull-right mr1" type="button" id="back_to_students">Zurück</button>
      </div>
    </div>
<% end %>