<div class="well">
  <%= link_to 'SVN Link zum Assignment', "#{course.svn_url}/#{student.username}/solutions/#{assignment.order}", target: '_blank' %>
</div>
<%= form_tag course_student_assignment_url(course, student, assignment), method: :patch, remote: true, class: 'form-horizontal' do %>
    <div class="form-group">
      <%= label_tag :encoding, 'Encoding', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <span class="label label-<%= encoding ? 'success' : 'danger' %>">
          <%= encoding ? 'Erfolgreich' : 'Nicht Erfolgreich' %>
        </span>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :public_tests, 'PublicTests', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <span class="label label-<%= public_test ? 'success' : 'danger' %>">
          <%= public_test ? 'Erfolgreich' : 'Nicht Erfolgreich' %>
        </span>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :extra_test, 'ExtraTests', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <span class="label label-<%= extra_test ? 'success' : 'danger' %>">
            <%= extra_test ? 'Erfolgreich' : 'Nicht Erfolgreich' %>
        </span>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :achieved_points, 'Bewertung Hausaufgabe', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= number_field_tag :achieved_points, achieved_points, class: 'form-control', min: 0 %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :achieved_points_programming, 'Bewertung Programmieraufgabe', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= number_field_tag :achieved_points_programming, achieved_points_programming, class: 'form-control', min: 0 %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :comment, 'Kommentar', class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= text_area_tag :comment, '', class: 'form-control', rows: 5 %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <%= submit_tag 'Speichern', class: 'btn btn-primary pull-right', data: {disable_with: 'Speichert...'} %>
      </div>
    </div>
<% end %>